argcomplete>=3.0.0
attrs>=23.0.0
certifi>=2023.0.0
colorama>=0.4.6
dv-processing>=1.7.8  # optional, required only for AEDAT4 output; install with: pip install "v2e[aedat4]"
engineering-notation>=0.6.0
h5py>=3.10.0
Jinja2>=3.1.0
jsonschema>=4.0.0
kiwisolver>=1.4.0
llvmlite>=0.43.0
MarkupSafe>=2.1.0
matplotlib>=3.7.0
numba>=0.60.0
numpy>=2.0
opencv-python
pandas>=2.0.0
Pillow>=10.0.0
pyparsing>=3.0.0
python-dateutil>=2.8.0
pytz>=2023.0
PyYAML>=6.0.0
scipy>=1.11.0
scikit-image>=0.21.0
six>=1.16.0
#torch>=2.0.0 # see https://pytorch.org/get-started/locally/ to generated correct pip install command for torch and torchvision, assuming cuda already installed.
tqdm>=4.65.0
traitlets>=5.0.0
